#!/usr/bin/env bash

local ver="3.1.0"
local user="nix-community"
local repo="nix-direnv"
local artifact="direnvrc"
local url="https://raw.githubusercontent.com/${user}/${repo}/${ver}/${artifact}"
local hash="sha256-yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM="

if ! has nix_direnv_version || ! nix_direnv_version "${ver}"; then
  source_url "${url}" "${hash}"
fi

use flake . || use nix
