/debug/
/target/
**/*.rs.bk
*.pdb

.idea/
.vscode/
.fleet/
.venv

perf.data*
.scratch

.DS_Store

/zerostate.json
/zerostate.boc

config.json
global-config.json
keys.json
logger.json

/db/
/.temp/
/.direnv
